html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  font-family: Helvetica;
  font-size: 16px;
  background: linear-gradient(270deg, #d9ebeb 57.02%, #d9d8d8 100%);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1440px;
}
